.titulo{
    display: flex;
    justify-content: center;
    font-family: Poppins;
}

.centerGeral{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundoGeral{
display: flex;
align-items: center;
flex-direction: column;
width: 440px;
height: 620px;
background-color: rgb(255, 255, 255);
border-radius: 20px;
box-shadow: 0px 0px 20px rgba(77, 77, 77, 0.334);
}

.fundoGeral2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 440px;
    height: 620px;
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(77, 77, 77, 0.334);
}

.img1{
    margin-top: 40px;
    border-radius: 20px;
}

#nome{
    margin-top: 15px;
    font-family: Poppins;
    color: black;
    font-weight: 600;
    font-size: 25px;
}

#cor{
    font-family: Poppins;
    color: black;
    font-weight: 500;
    font-size: 22px;
}

#preco{
    margin-top: 5px;
    font-family: Poppins;
    color: black;
    font-weight: 700;
    font-size: 22px;
}

.btn1{
    margin-top: 15px;
    border-radius: 10px;
    width: 320px;
    height: 50px;
    border: none;
    background-color: rgb(23, 23, 23);
    color: white;
    font-family: Poppins;
    font-weight: 600;
    font-size: 25px;
    opacity: 60%;
    cursor: pointer;
    transition: 0.5s;

}

.btn1:hover{
    opacity: 100%;
}


.img2{
    margin-top: 40px;
    border-radius: 20px;
}

#nome2{
    margin-top: 15px;
    font-family: Poppins;
    color: black;
    font-weight: 600;
    font-size: 25px;
}

#cor2{
    font-family: Poppins;
    color: black;
    font-weight: 500;
    font-size: 22px;
}

#preco2{
    margin-top: 5px;
    font-family: Poppins;
    color: black;
    font-weight: 700;
    font-size: 22px;
}

.btn2{
    margin-top: 15px;
    border-radius: 10px;
    width: 320px;
    height: 50px;
    border: none;
    background-color: rgb(23, 23, 23);
    color: white;
    font-family: Poppins;
    font-weight: 600;
    font-size: 25px;
    opacity: 60%;
    cursor: pointer;
    transition: 0.5s;

}

.btn2:hover{
    opacity: 100%;
}